@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: url('./img/backgroundPhoto.png') no-repeat center center fixed;
  background-size: cover;
}

/* #main-background {
  display: block;
  margin-top: 10%;
  margin-bottom: 20%;
} */

.navbar-brand {
  font-family: 'Raleway', sans-serif;
}

.main-text {
  margin-top: 200px;
  font-family: 'Raleway', sans-serif;
}

.card {
  padding: 20px;
}

#resume-image {
  padding-top: 50px;
  padding-bottom: 100px;
}

#footer-text {
  font-family: 'Raleway', sans-serif;
}

.footer {
  height: calc(100% - 60px);
}

#component-header-text {
  font-family: 'Raleway', sans-serif;
  margin-top: 20px;
  background-color: white;
}

.btn-info {
  background-color: rgb(148, 196, 178);
  border: rgb(148, 196, 178);
}

.contact-form {
  margin: 100px;
  margin-bottom: 100px;
}